.Main
  .Chat-main__group-info
    .Chat-main__group
      .Chat-main__group-name test
      %ul.Chat-main__member-list
        %li.Chat-main__member smple
    = link_to 'edit', '#', class: 'edit-btn'
  .Chat-main__message-list
    .Message-posts
      .Contributor
        .Contributor__name name 
        .Contributor__date 2020/01/01 0:00:00
      .Message
        .Message-comment aaaa
    .Message-posts
      .Contributor
        .Contributor__name name 
        .Contributor__date 2020/01/01 0:00:00
      .Message
        .Message-comment 11111
  .Chat-main__message-form
    .form
      %form.new-message
        .form-box
          %input{type: "text", class: "input-text", placeholder: "taep a message"}
          %label{class: "icon-image"}
            =icon('fas', 'image',class: 'icon')
            %input{type: "file", class: "image-file"}
        %input{type: 'submit', class: "Submit-btn",value: "SEND"}