.Main
  .Chat-main__group-info
    .Chat-main__group
      .Chat-main__group-name test
      %ul.Chat-main__member-list
        %li.Chat-main__member smple
    = link_to 'edit', '#', class: 'edit-btn'
  .Chat-main__message-list
  .Chat-main__message-form