.Side
  .Side-bar__user-name
    .Top-items
      %p.Top-items__name masa
      .Top-items__icons
        = link_to "#" do
          = icon('far', 'edit', class: 'sqrare-icon')
        = link_to "#" do
          = icon('fab', 'facebook-square', class: 'edit-icon')
  .Side-bar__group-list
